/*Primary Color:rgb(76, 175, 80)*/
/*Secondary Color:rgb(57, 66, 78)*/

body {
    background-color: #DADADA;
}

body > .grid {
    height: 100%;
}

/*Helpers*/

.color-primary{
	color: rgb(76, 175, 80) !important;
}

.color-grey {
    color: rgba(255, 255, 255, 0.51);
}

.white-space{
	display: block;
	width: 100%;
}

.space-sm{
	padding: 15px 0;
}

.space-mini{
	padding: 8px 0;
}

.space-xm{
	padding: 5px 0;
}

.space-md{
	padding: 30px 0;
}
.space-lg{
	padding: 45px 0;
}

.bg-color-primary{
	background-color: rgb(76, 175, 80);
}

.title-deco {
	line-height: 2 !important;
}

.title-deco:before{
	content: "";
	background-color: rgba(76, 175, 80,0.75);
	height: 2px;
	display: block;
	width: 50px;
	box-sizing: border-box;
}

.title-deco--sm:after{
	width: 30px;
}

.text-center.title-deco:after{
	margin: 0 auto;
}

.text-justify {
    text-align: justify;
}


/*Semantic Rewrite*/
.ui.menu:not(.vertical) .item>.button {
    font-size: .78571429rem;
}

.image {
    margin-top: -100px;
}

.login >.column {
    max-width: 450px;
}

.h-vh{
    height: 100vh;
}

.ui.green.button, .ui.green.buttons .button {
    background-color: rgb(76, 175, 80);
    color: rgb(255, 255, 255);
    text-shadow: none;
    background-image: none;
}

.d-flex {
    display: flex;
}

.ui.menu.menu--cust:not(.secondary):not(.text):not(.tabular):not(.borderless)>.container>.item:not(.right):not(.borderless):first-child {
    border-left: 0;
}

.ui.menu.menu--cust {
    border-radius: 0;
}

.ui.menu.menu--cust .item:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: rgba(34,36,38,.1);
}

.ui.menu.menu--cust .item {
    padding: .92857143em 0.5em;
}

.ui.menu.menu--cust:not(.vertical) .right.item, .ui.menu.menu--cust:not(.vertical) .right.menu {
    /*margin-left: initial !important;*/
}

.ui.menu.menu--cust>.container, .ui.menu.menu--cust>.grid {
    /*justify-content: space-between;*/
}

.user-auth {
    font-size: .78571429rem;
}

.ui.search.left-select .ui.input input{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: rgb(76, 175, 80);
}

.ui.search.left-select .ui.selection.dropdown {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    background-color: rgb(232, 232, 232);
}

.ui.menu.menu--cust .header.item, .ui.vertical.menu .header.item {
    margin-right: 2rem;
}

.ui.menu.menu--cust i.inverted.bordered.icon, i.inverted.circular.icon{
    /*background-color: rgb(76, 175, 80) !important;*/
}

.ui.menu.menu--cust .ui.icon.input>input:focus~i.icon {
    background-color: rgb(76, 175, 80) !important;
    transition: all 0.3s;
}

.ui.menu.menu--cust .ui.icon.input>i.icon {
    transition: all 0.3s;
}

.ui.menu.menu--cust .ui.input input:active, .ui.input.down input {
    border-color: rgb(76, 175, 80);
}

.ui.menu.menu--cust .ui.input input:focus,.ui.menu.menu--cust .ui.input.focus input ,.ui.menu.menu--cust .ui.selection.active.dropdown:hover,.ui.menu.menu--cust .ui.selection.active.dropdown:hover .menu{
    border-color: rgb(76, 175, 80);
}

.ui.menu.menu--cust .ui.selection.dropdown:hover {
    border-color: rgb(76, 175, 80);
}

.main-footer .ui .link-sitemap > a {
    display: inline-block;
}

.main-footer .ui .link-sitemap > a:after {
    content: " / ";
    visibility: visible;
    display: inline;
    color: rgb(76, 175, 80);
    margin: 0 0.1rem;
}

.ui.main-footer .ui.list>.item:after, .ui.main-footer .ui.list>.list>.item, .ui.main-footer ol.ui.list>li:first-child:after, .ui.main-footer ul.ui.list>li:first-child:after {
    visibility: visible;
}

footer.main-footer {
    background-image: url("/static/img/footer.jpg");
    background-size: cover;
    background-position: center;
}