{%extends "base.html" %}

{% block content %}
<div class="profile_update ui container">
    <div class="profile_form">
        <h2 class="title">Post Project</h2>
        <form class="ui form" method="POST" action="{% url 'post_project' %}">
            {% csrf_token %}

            <div class="field">
                <label>{{p_form.p_title.label}}</label>
               {{p_form.p_title}}
            </div>

            <div class="field">
                <label>{{p_form.p_category.label}}</label>
               {{p_form.p_category}}
            </div>
            <div class="field">
                <label>{{p_form.diff_level.label}}</label>
                <div class="three fields">
                    {% for choices in p_form.diff_level%}
                    <div class="field">
                        <div class="ui radio">
                            {{choices}}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="field">
                <label>{{p_form.no_of_contrib.label}}</label>
               {{p_form.no_of_contrib}}
            </div>

            <div class="field">
                <label>{{p_form.p_status.label}}</label>
               {{p_form.p_status}}
            </div>

            <div class="field">
                <label>Skills Required</label>
                {{ p_form.skills }}
            </div>

             <div class="field">
                <label>{{ p_form.p_location.label }}</label>
                {{ p_form.p_location }}
            </div>

            <div class="field">
                <label>{{p_form.p_privacy.label}}</label>
               {{p_form.p_privacy}}
            </div>

            <div class="field">
                <label>{{p_form.p_description.label}}</label>
               {{p_form.p_description}}
            </div>


            <button type="submit" class="ui primary button" value="Submit">Submit</button>
            <button type="reset" class="ui negative button" value="Reset">Reset</button>
        </form>
    </div>
</div>

{% endblock content %}