{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projectile</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Styles-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700|Roboto:100,300,400,400i"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static "lib/semantic/dist/semantic.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>Document</title>
</head>
<body>
{#Header Starts#}
<header>
    <nav>
        <div class="ui menu menu--cust">
            <div class="ui container">
                <div class="header item"><a class="color-" href="/">Projectile</a></div>

                <div class="ui dropdown select link item">
                    <span class="text">Browse</span>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="{% url 'explore_projects' %}" class="item">Projects</a>
                        <a href="{% url 'explore_profiles' %}" class="item">Users</a>
                    </div>
                </div>
                {% if user.is_authenticated %}
                    <div class="item">
                        <a href="{% url 'post_project' %}" class="ui button green">New Project</a>
                    </div>
                {% endif %}
                <div class="right menu">
                    <div class="item">
                        <form class="ui search left-select" method="post" action="{% url 'home' %}">
                            {% csrf_token %}
                            <div class="ui icon input">
                                {{ search_form.category }}
                                {{ search_form.search_item }}
                                <i class="inverted circular search link icon"></i>
                            </div>
                            <div class="results"></div>
                        </form>
                    </div>
                    <a class="d-flex notify color-g97" href="{% url 'notific' %}">
                        <i class="alarm outline icon"></i>
                        <div class="label-container">
                            <div class="floating ui label">22</div>
                        </div>
                    </a>
                    <span class="user-auth d-flex">
                        {% if user.is_authenticated %}
                            <div class="ui dropdown item">
                              <div class="text color-g97"><i class="user icon color-g97"></i>{{ request.user.username }}</div>
                              <i class="dropdown icon"></i>
                              <div class="menu color-g97">
                                <div class="item"><a class="color-g97" href="{% url 'notific' %}">Notification</a></div>
                                <div class="item"><a class="color-g97" href="{% url 'profile_edit' %}">Setting</a></div>
                                  <div class="divider m-a-0"></div>
                                <div class="item"><a class="color-g97" href="{% url 'logout' %}">Logout</a></div>
                              </div>
                            </div>
                        {% else %}
                            <a href="{% url 'login' %}" class="item color-g97">Login</a>
                            <a href="{% url 'register' %}" class="item color-g97">Register</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </nav>
</header>

<div class="main-wrapper">
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</div>

<footer class="main-footer">
    <div class="white-space space-md"></div>
    <div class="ui vertical footer segment">
        <div class="ui container">
            <div class="ui three column grid">
                <div class="column">
                    <h2 class="ui inverted header title-deco fw-100"><span>About</span></h2>
                    <div class="ui color-grey list text-justify fw-300">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere id iure nihil perspiciatis
                        suscipit, totam voluptatum? Ab accusantium ducimus eligendi enim iure modi nesciunt sunt?
                        Adipisci aliquam corporis delectus dolores eligendi enim explicabo laboriosam maxime minus
                        molestias nisi perferendis perspiciatis quidem recusandae repellat sit, temporibus!
                    </div>
                </div>
                <div class="column">
                    <h2 class="ui inverted header title-deco fw-100">SiteMap</h2>
                    <div class="ui inverted link list link-sitemap fw-300">
                        <a href="/" class="item">Home</a>
                        <a href="/" class="item">Dashboard</a>
                        <a href="{% url 'login' %}" class="item">Login</a>
                        <a href="{% url 'register' %}" class="item">Register</a>
                        <a href="{% url 'explore_projects' %}" class="item">Browse Project</a>
                        <a href="{% url 'explore_profiles' %}" class="item">Browse Students</a>
                        <a href="{% url 'post_project' %}" class="item">New Projects</a>
                    </div>
                </div>
                <div class="column">
                    <h2 class="ui inverted header title-deco fw-100">Contact</h2>
                    <div class="ui color-grey fw-300">
                        <p class="color-grey">c/o Block No.9, IIIT Vadodara, Government Engineering College, Sector-28,
                            Gandhinagar, Gujarat - 382028</p>
                        <div class="white-space space-mini"></div>
                        <div class="phone color-grey">
                            <i class="call icon color-primary"></i>+91 70 48382917
                        </div>
                        <div class="mail color-grey ui inverted link list">
                            <a class="item" href="mailto:ansarimofid@gmail.com"><i
                                    class="mail outline icon color-primary"></i> info@projectile.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="white-space space-md"></div>
</footer>
<!--Scripts-->
<script
        src="{% static "lib/jquery/dist/jquery.min.js" %}"></script>
<script src="{% static "lib/semantic/dist/semantic.min.js" %}"></script>
<script src="{% static "lib/pie-chart/js/pie-chart.js" %}"></script>
<script src="{% static "js/main.js" %}"></script>
</body>
</html>
