{% extends "view_container.html" %}
{% block details %}
<h1 style="text-align:center;">Change Your Password</h1>
<div style="text-align:center; color:red">
{% if messages %}
    {% for message in messages %}
        {{ message}}
    {% endfor %}
{% endif %}
</div>
<form class="ui form" method="post" action="{% url 'change_password' %}">
    {% csrf_token %}
    <div class="field">
        <label>Current Password</label>
        <input type="password" name="old_password" value="" size="30"/>
    </div>
    <div class="field">
        <label>New Password</label>
        <input type="password" name="new_password" value="" size="30"/>
    </div>
    <div class="field">
        <label>Confirm New Password</label>
        <input type="password" name="new_password_again" value="" size="30"/>
    </div>
    <button type="submit" class="ui primary button">Submit</button>
</form>

{% endblock details %}
