<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Your Password</title>

</head>
<body>
{% if messages %}
    {% for message in messages %}
        {{ message}}
    {% endfor %}

{% endif %}
<h1>Change Your Password</h1>
<form method="post" action="{% url 'change_password' %}">
    {% csrf_token %}
            old_password:<input type="password" name="old_password" value="" size="30"/>
            new_password:<input type="password" name="new_password" value="" size="30"/>
            new_password(again):<input type="password" name="new_password_again" value="" size="30"/>
    <button type="submit" class="save btn btn-default">Submit</button>
</form>

</body>
</html>