{% extends "base.html" %}
{#-----------------------#}
{% block content %}
    <div class="ui bottom attached container explore-card">

        {% include 'components/sidebar.html' %}

        {#        Explore Content#}
        <div class="explore-card__content">
            <div class="ui basic">
                {#                Content Counter#}
                <div></div>
                <h3 class="ui header text-center content-count fw-300">Showing <span
                        class="content-counter color-primary">{{ length }}</span> result
                </h3>
                <div class="white-space space-mini"></div>
                {% if action %}
                <div class="ui selection dropdown">
                    <input type="hidden" name="order_by">
                    <i class="dropdown icon"></i>
                    <div class="default text">Order By</div>
                    <div class="menu">
                        <a href="{% url 'sort_search' sort_id='1' %}" class="item" >Newest First</a>
                        <a href="{% url 'sort_search' sort_id='2' %}" class="item" >Oldest First</a>
                    </div>
                 </div>
                <div class="white-space space-sm"></div>
                {% endif %}

                {#                Results#}
                <div class="result-container">
                    {#                    Project Cards#}
                    <div class="ui three stackable cards">
                        {% block explore-card %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}