{% extends "base.html" %}
{#-----------------------#}
{% block content %}
    <div class="ui bottom attached container explore-card">
        {#    Sidebar#}
        <div class="ui visible left vertical sidebar sidebar--cust menu">
            <div class="white-space space-xm"></div>


            {#            Sidebar Search#}
            <div class="sidebar__search">
                <h3 class="ui header"><i class="search icon"></i>
                    Keyword Search</h3>
                <div class="ui search">
                    <div class="ui icon input">
                        <input class="prompt" type="text" placeholder="Search Keyword...">
                        <i class="search icon"></i>
                    </div>
                    <div class="results"></div>
                </div>
            </div>
            <div class="white-space space-mini"></div>
            <div class="sidebar__or text-center color-g125"><span>OR</span></div>
            <div class="white-space space-mini"></div>
            {#             Sidebar Filter#}
            <div class="sidebar__filter">
                {#                Filter Header#}
                <h3 class="ui header"><i class="filter icon"></i>
                    Filter</h3>
                <div class="white-space space-xm"></div>

                {#                Filter:level#}
                <div class="sidebar__filter__level">
                    <h4 class="title-deco title-deco--sm"><span>Level</span></h4>
                    <div class="filter__level__checkbox">
                        <div class="ui form">
                            <div class="grouped fields">
                                <div class="field">
                                    <div class="ui toggle checkbox">
                                        <input type="checkbox" name="beginner" checked>
                                        <label>Beginner</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui toggle checkbox">
                                        <input type="checkbox" name="intermediate">
                                        <label>Intermediate</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui toggle checkbox">
                                        <input type="checkbox" name="advance">
                                        <label>Advance</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="white-space space-mini"></div>

                {#                Filter:Location#}
                <div class="sidebar__filter__location">
                    <h4 class="title-deco title-deco--sm"><span>Location</span></h4>
                    <div class="ui search">
                        <div class="ui icon input">
                            <input class="prompt" type="text" placeholder="Filter by Location...">
                            <i class="search icon"></i>
                        </div>
                        <div class="results"></div>
                    </div>
                </div>
                <div class="white-space space-sm"></div>

                {#                Filter Category#}
                <div class="sidebar__filter__categories">
                    <h4 class="title-deco title-deco--sm"><span>Categories</span></h4>
                    <div class="filter__level__checkbox">
                        <div class="ui form color-g125">
                            <div class="grouped fields">
                                <div class="ui checkbox">
                                    <input type="checkbox" name="android-development">
                                    <label>Android Development</label>
                                </div>
                                <div class="ui checkbox">
                                    <input type="checkbox" name="ios-development">
                                    <label>iOS Development</label>
                                </div>
                                <div class="ui checkbox">
                                    <input type="checkbox" name="web-development">
                                    <label>Web Development</label>
                                </div>
                                <div class="ui checkbox">
                                    <input type="checkbox" name="frontend-development">
                                    <label>Frontend Development</label>
                                </div>
                                <div class="ui checkbox">
                                    <input type="checkbox" name="backend-development">
                                    <label>Backend Development</label>
                                </div>
                                <div class="ui checkbox">
                                    <input type="checkbox" name="machine-learning">
                                    <label>Machine Learning</label>
                                </div>
                                <div class="ui checkbox">
                                    <input type="checkbox" name="artificial-intelligence">
                                    <label>Artificial Intelligence</label>
                                </div>
                                <div class="ui checkbox">
                                    <input type="checkbox" name="fullstack-development">
                                    <label>Full Stack Development</label>
                                </div>
                                <div class="ui checkbox">
                                    <input type="checkbox" name="game-development">
                                    <label>Game Development</label>
                                </div>
                                <div class="ui checkbox">
                                    <input type="checkbox" name="ui-ux-development">
                                    <label>UI/UX Development</label>
                                </div>
                                <div class="ui checkbox">
                                    <input type="checkbox" name="image-processing">
                                    <label>Image Processing</label>
                                </div>
                                <div class="ui checkbox">
                                    <input type="checkbox" name="software-development">
                                    <label>Software Development</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="white-space space-xm"></div>

        </div>
        {#        Explore Content#}
        <div class="explore-card__content">
            <div class="ui basic">
                <div></div>
                {#                Content Counter#}
                <h3 class="ui header text-center content-count fw-300">Showing <span
                        class="content-counter color-primary">all</span> result
                </h3>
                <div class="white-space space-mini"></div>

                {#                Results#}
                <div class="result-container">
                    {#                    Project Cards#}
                    <div class="ui three stackable cards">

                        {#                        Project Card#}
                        <div class="ui card project-card">
                            {#                            Card Content#}
                            <div class="content">
                                <div class="header color-primary fw-300">Mobile Application Develoment</div>
                                {#                                Card Meta#}
                                <div class="meta">
                                    {#                                    Date#}
                                    <div class="meta-date float-left"><i class="wait low icon color-primary"></i>
                                        2 days ago
                                    </div>
                                    {#                                    Level#}
                                    <div class="meta-level"><i class="battery low icon color-primary"></i>
                                        Beginner
                                    </div>
                                    {#                                    Category#}
                                    <div class="meta-category"><i class="folder low icon color-primary"></i>
                                        Android Development

                                    </div>
                                    {#                                    Location#}
                                    <div class="meta-location"><i class="marker low icon color-primary"></i>
                                        Ahmedabad, Gujarat

                                    </div>
                                </div>

                                {#                                Project Description#}
                                <div class="description">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias quos, sint!
                                        Accusantium architecto aspernatur culpa enim esse est eveniet fugiat harum magni</p>
                                </div>
                                <div class="white-space space-xm"></div>

                                {#                                Skill Tags#}
                                <div class="skills-tag">
                                    <div class="ui label">Java</div>
                                    <div class="ui label">Android</div>
                                    <div class="ui label">Algo</div>
                                </div>
                                <div class="white-space space-mini"></div>

                                {#                                Apply on Project Button#}
                                <div class="view-btn text-center">
                                    <button class="ui inverted green button fw-300">Apply</button>
                                </div>
                            </div>
                        </div>

                        {#                        Project Card#}
                        <div class="ui card project-card">
                            {#                            Card Content#}
                            <div class="content">
                                <div class="header color-primary fw-300">Mobile Application Develoment</div>
                                {#                                Card Meta#}
                                <div class="meta">
                                    {#                                    Date#}
                                    <div class="meta-date float-left"><i class="wait low icon color-primary"></i>
                                        2 days ago
                                    </div>
                                    {#                                    Level#}
                                    <div class="meta-level"><i class="battery low icon color-primary"></i>
                                        Beginner
                                    </div>
                                    {#                                    Category#}
                                    <div class="meta-category"><i class="folder low icon color-primary"></i>
                                        Android Development

                                    </div>
                                    {#                                    Location#}
                                    <div class="meta-location"><i class="marker low icon color-primary"></i>
                                        Ahmedabad, Gujarat

                                    </div>
                                </div>

                                {#                                Project Description#}
                                <div class="description">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias quos, sint!
                                        Accusantium architecto aspernatur culpa enim esse est eveniet fugiat harum magni</p>
                                </div>
                                <div class="white-space space-xm"></div>

                                {#                                Skill Tags#}
                                <div class="skills-tag">
                                    <div class="ui label">Java</div>
                                    <div class="ui label">Android</div>
                                    <div class="ui label">Algo</div>
                                </div>
                                <div class="white-space space-mini"></div>

                                {#                                Apply on Project Button#}
                                <div class="view-btn text-center">
                                    <button class="ui inverted green button fw-300">Apply</button>
                                </div>
                            </div>
                        </div>

                        {#                        Project Card#}
                        <div class="ui card project-card">
                            {#                            Card Content#}
                            <div class="content">
                                <div class="header color-primary fw-300">Mobile Application Develoment</div>
                                {#                                Card Meta#}
                                <div class="meta">
                                    {#                                    Date#}
                                    <div class="meta-date float-left"><i class="wait low icon color-primary"></i>
                                        2 days ago
                                    </div>
                                    {#                                    Level#}
                                    <div class="meta-level"><i class="battery low icon color-primary"></i>
                                        Beginner
                                    </div>
                                    {#                                    Category#}
                                    <div class="meta-category"><i class="folder low icon color-primary"></i>
                                        Android Development

                                    </div>
                                    {#                                    Location#}
                                    <div class="meta-location"><i class="marker low icon color-primary"></i>
                                        Ahmedabad, Gujarat

                                    </div>
                                </div>

                                {#                                Project Description#}
                                <div class="description">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias quos, sint!
                                        Accusantium architecto aspernatur culpa enim esse est eveniet fugiat harum magni</p>
                                </div>
                                <div class="white-space space-xm"></div>

                                {#                                Skill Tags#}
                                <div class="skills-tag">
                                    <div class="ui label">Java</div>
                                    <div class="ui label">Android</div>
                                    <div class="ui label">Algo</div>
                                </div>
                                <div class="white-space space-mini"></div>

                                {#                                Apply on Project Button#}
                                <div class="view-btn text-center">
                                    <button class="ui inverted green button fw-300">Apply</button>
                                </div>
                            </div>
                        </div>

                        {#                        Project Card#}
                        <div class="ui card project-card">
                            {#                            Card Content#}
                            <div class="content">
                                <div class="header color-primary fw-300">Mobile Application Develoment</div>
                                {#                                Card Meta#}
                                <div class="meta">
                                    {#                                    Date#}
                                    <div class="meta-date float-left"><i class="wait low icon color-primary"></i>
                                        2 days ago
                                    </div>
                                    {#                                    Level#}
                                    <div class="meta-level"><i class="battery low icon color-primary"></i>
                                        Beginner
                                    </div>
                                    {#                                    Category#}
                                    <div class="meta-category"><i class="folder low icon color-primary"></i>
                                        Android Development

                                    </div>
                                    {#                                    Location#}
                                    <div class="meta-location"><i class="marker low icon color-primary"></i>
                                        Ahmedabad, Gujarat

                                    </div>
                                </div>

                                {#                                Project Description#}
                                <div class="description">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias quos, sint!
                                        Accusantium architecto aspernatur culpa enim esse est eveniet fugiat harum magni
                                        nisi obcaecati optio pariatur quae, repellat repellendus sed sequi sit veniam.
                                        Consequuntur, vitae?</p>
                                </div>
                                <div class="white-space space-xm"></div>

                                {#                                Skill Tags#}
                                <div class="skills-tag">
                                    <div class="ui label">Java</div>
                                    <div class="ui label">Android</div>
                                    <div class="ui label">Algo</div>
                                </div>
                                <div class="white-space space-mini"></div>

                                {#                                Apply on Project Button#}
                                <div class="view-btn text-center">
                                    <button class="ui inverted green button fw-300">Apply</button>
                                </div>
                            </div>
                        </div>
                        {#                        Project Card#}
                        <div class="ui card project-card">
                            {#                            Card Content#}
                            <div class="content">
                                <div class="header color-primary fw-300">Mobile Application Develoment</div>
                                {#                                Card Meta#}
                                <div class="meta">
                                    {#                                    Date#}
                                    <div class="meta-date float-left"><i class="wait low icon color-primary"></i>
                                        2 days ago
                                    </div>
                                    {#                                    Level#}
                                    <div class="meta-level"><i class="battery low icon color-primary"></i>
                                        Beginner
                                    </div>
                                    {#                                    Category#}
                                    <div class="meta-category"><i class="folder low icon color-primary"></i>
                                        Android Development

                                    </div>
                                    {#                                    Location#}
                                    <div class="meta-location"><i class="marker low icon color-primary"></i>
                                        Ahmedabad, Gujarat

                                    </div>
                                </div>

                                {#                                Project Description#}
                                <div class="description">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias quos, sint!
                                        Accusantium architecto aspernatur culpa enim esse est eveniet fugiat harum magni
                                        nisi obcaecati optio pariatur quae, repellat repellendus sed sequi sit veniam.
                                        Consequuntur, vitae?</p>
                                </div>
                                <div class="white-space space-xm"></div>

                                {#                                Skill Tags#}
                                <div class="skills-tag">
                                    <div class="ui label">Java</div>
                                    <div class="ui label">Android</div>
                                    <div class="ui label">Algo</div>
                                </div>
                                <div class="white-space space-mini"></div>

                                {#                                Apply on Project Button#}
                                <div class="view-btn text-center">
                                    <button class="ui inverted green button fw-300">Apply</button>
                                </div>
                            </div>
                        </div>

                        {#                        Project Card#}
                        <div class="ui card project-card">
                            {#                            Card Content#}
                            <div class="content">
                                <div class="header color-primary fw-300">Mobile Application Develoment</div>
                                {#                                Card Meta#}
                                <div class="meta">
                                    {#                                    Date#}
                                    <div class="meta-date float-left"><i class="wait low icon color-primary"></i>
                                        2 days ago
                                    </div>
                                    {#                                    Level#}
                                    <div class="meta-level"><i class="battery low icon color-primary"></i>
                                        Beginner
                                    </div>
                                    {#                                    Category#}
                                    <div class="meta-category"><i class="folder low icon color-primary"></i>
                                        Android Development

                                    </div>
                                    {#                                    Location#}
                                    <div class="meta-location"><i class="marker low icon color-primary"></i>
                                        Ahmedabad, Gujarat

                                    </div>
                                </div>

                                {#                                Project Description#}
                                <div class="description">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias quos, sint!
                                        Accusantium architecto aspernatur culpa enim esse est eveniet fugiat harum magni
                                        nisi obcaecati optio pariatur quae, repellat repellendus sed sequi sit veniam.
                                        Consequuntur, vitae?</p>
                                </div>
                                <div class="white-space space-xm"></div>

                                {#                                Skill Tags#}
                                <div class="skills-tag">
                                    <div class="ui label">Java</div>
                                    <div class="ui label">Android</div>
                                    <div class="ui label">Algo</div>
                                </div>
                                <div class="white-space space-mini"></div>

                                {#                                Apply on Project Button#}
                                <div class="view-btn text-center">
                                    <button class="ui inverted green button fw-300">Apply</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}