<!DOCTYPE html>
<html>
<head>
	<title>LoggedIn</title>

    <script>
    {% if messages %}
        {% for message in messages %}
            alert(message);
        {% endfor %}
    {% endif %}
    </script>

</head>
<body>

            <h1>Hello</h1>
            <p>{{ request.user.username }}</p>


<form method="post" action="{% url 'home' %}">
    {% csrf_token %}
    {{ search_form }}
    <input type="submit" value="Search" />
</form>




<br>

<form method="get" action="{% url 'prev_posts' %}">
    {% csrf_token %}

    <input type="submit" value="Posted Projects " />
</form>

<br>



<form method="get" action="{% url 'post_project' %}">
    {% csrf_token %}

    <input type="submit" value="Post Project" />
</form>



<br>


<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}

    <input type="submit" value="LogOut" />
</form>

</body>