{%extends "base.html" %}

{%block content %}

<div class="home_view ui container">


    <h1>Hello</h1>
    <p>{{ request.user.username }}</p>

    {% if messages %}
    {% for message in messages %}
        {{ message}}
    {% endfor %}

{% endif %}
    {% comment %}<div class="ui two column grid">
        <div class="column lh-n">
            <div class="ui green segment">
                <div class="ui three column grid statistics-container">
                    <div class="column ui statistics">
                        <div class="green statistic">
                            <div class="value fs-4x">
                                {{ projects | length }}
                            </div>
                            <div class="label">
                                Posted Project
                            </div>
                        </div>
                    </div>
                    <div class="column ui statistics m-t-0">
                        <div class="purple statistic">
                            <div class="value fs-4x">
                                22
                            </div>
                            <div class="label">
                                Application Received
                            </div>
                        </div>
                    </div>
                    <div class="column ui statistics m-t-0">
                        <div class="purple statistic">
                            <div class="value fs-4x">
                                {{ aprojects | length }}
                            </div>
                            <div class="label">
                                Posted Project Rate
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui green segment">
                <div class="ui three column grid statistics-container">
                    <div class="column ui statistics">
                        <div class="teal statistic">
                            <div class="value fs-4x">
                                {{ aprojects | length }}
                            </div>
                            <div class="label">
                                Applied Project
                            </div>
                        </div>
                    </div>
                    <div class="column ui statistics m-t-0">
                        <div class="purple statistic">
                            <div class="value fs-4x">
                                22
                            </div>
                            <div class="label">
                                Accepted Project
                            </div>
                        </div>
                    </div>
                    <div class="column ui statistics m-t-0">
                        <div class="purple statistic">
                            <div class="value fs-4x">
                                {{ aprojects | length }}
                            </div>
                            <div class="label">
                                Posted Project Rate
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui three column grid">
                    <div class="column">
                        <div id="demo-pie-4" class="pie-title-center" data-percent="100">
                            <span class="pie-value">40</span>
                        </div>
                        <div><strong>Applied Project</strong></div>
                    </div>
                    <div class="column">
                        <div id="demo-pie-5" class="pie-title-center" data-percent="100">
                            <span class="pie-value">40</span>
                        </div>
                        <div><strong>Accepted Pproject</strong></div>
                    </div>
                    <div class="column">
                        <div id="demo-pie-2" class="pie-title-center" data-percent="35">
                            <span class="pie-value">40</span>
                        </div>
                        <div><strong>Acceptence Rate</strong></div>
                    </div>
                </div>
            </div>
        </div>
    </div>{% endcomment %}

    <div class="white-space space-xm"></div>

    <div class="ui green segment">
        <div class="ui three column grid statistics-container">
            <div class="column ui statistics">
                <div class="green statistic">
                    <div class="value fs-4x">
                        {{ projects | length }}
                    </div>
                    <div class="label">
                        Posted Projects
                    </div>
                </div>
            </div>
            <div class="column ui statistics m-t-0">
                <div class="purple statistic">
                    <div class="value fs-4x">
                        {{ aprojects | length }}
                    </div>
                    <div class="label">
                        Applied Projects
                    </div>
                </div>
            </div>
            <div class="column ui statistics m-t-0">
                <div class="pink statistic">
                    <div class="value fs-4x">
                        {{ projvsapll }}
                    </div>
                    <div class="label">
                        Posted vs Applied Ratio
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="white-space space-md"></div>

    <table class="ui striped table">
        <thead>
            <tr>
                <th colspan="4" class="ui header">Recent Posted Project</th>
                <th class="right aligned"><a href="{% url 'prev_posts' %}"><button type="submit" class="ui button green" value="Submit">View all</button></a></th>
            </tr>
             <tr>
                <th class="ui header">Project title</th>
                <th class="ui header">Category</th>
                <th class="ui header">Status</th>
                <th class="ui header">location</th>
                <th class="ui header">Difficulty-level</th>
             </tr>
        </thead>
        <tbody>
                {% for project in projects %}
                 <tr>
                    <td>{{ project.p_title }}</td>
                    <td>{{ project.p_category }}</td>
                    <td>{{ project.p_status }}</td>
                    <td>{{ project.p_location }}</td>
                    <td>{{ project.diff_level }}</td>
                </tr>
                {% endfor %}
        </tbody>
    </table>

    <div class="white-space space-md"></div>
    <table class="ui striped table">
        <thead>
            <tr>
                <th class="ui header" colspan="4">Recent Applied Project</th>
                <th class="right aligned"><a href="{% url 'list_applied' %}"><button type="submit" class="ui button green" value="Submit">View all</button></a></th>
            </tr>
            <tr>
                <th class="ui header">Project Title</th>
                <th class="ui header">Category</th>
                <th class="ui header">Status</th>
                <th class="ui header">Location</th>
                <th class="ui header">Difficulty-level</th>
            </tr>
        </thead>
        <tbody>
            {% for aproject in aprojects %}
                 <tr>
                    <td>{{ aproject.target.p_title }}</td>
                    <td>{{ aproject.target.p_category }}</td>
                    <td>{{ aproject.target.p_status }}</td>
                    <td>{{ aproject.target.p_location }}</td>
                    <td>{{ aproject.target.diff_level }}</td>
                </tr>
                {% endfor %}
        </tbody>
    </table>
    <!--<form method="get" action="{% url 'prev_posts' %}">
        {% csrf_token %}

        <input type="submit" value="Posted Projects "/>
    </form>


    <form method="get" action="{% url 'post_project' %}">
        {% csrf_token %}

        <input type="submit" value="Post Project"/>
    </form>


    <form method="get" action = "{% url 'profile_edit'%}">
        {% csrf_token %}

        <input type="submit" value="Edit Profile"/>
    </form>

    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}

        <input type="submit" value="LogOut"/>
    </form>


    <form method="get" action="{% url 'notific' %}">
        {% csrf_token %}

        <input type="submit" value="Notifications"/>
    </form>

    <form method="get" action="{% url 'list_applied' %}">
        {% csrf_token %}

        <input type="submit" value="GetApplied"/>
    </form>-->
</div>
{% endblock content %}