{% extends "view_container.html" %}

{% block details %}

    {% load notifications_tags %}


    {% notifications_unread as unread_count %}

    {% if unread_count %}
        <h1 class="ui header text-center fw-300">You have <strong class="color-primary">{{ unread_count }}</strong> unread
            notifications.</h1>
    {% else %}
        <h1 class="ui header text-center fw-300">You have <strong class="color-primary">No</strong> unread
            notifications.</h1>
    {% endif %}

    <div class="notify-container">
        {% for n in notice %}
            {% if n.unread %}
                <div class="notify-list ui segment">
                    {{ n.actor }}
                    <span class="color-primary">{{ n.verb }}</span>
                    {% if n.target %}
                        on {{ n.target }}
                    {% endif %}
                    <a class="mini ui button" href="/inbox/notifications/mark-as-read/{{ n.slug }}"><i
                            class="checkmark icon"></i></a>
                </div>
            {% endif %}

        {% endfor %}
    </div>
{% endblock details %}