{% extends "explore_base.html" %}

{#                        Project Card#}
{% block explore-card %}
{% for profile in profile_list %}
    {% if not profile.user == request.user %}
<div class="ui card profile-card">
    {# Card Profile img#}
    <div class="profile-card__header">
        <div class="white-space space-mini"></div>
        <div class="profile-img">
            <img src="/static/img/profile.png" alt="">
        </div>
        <div class="white-space space-mini"></div>
    </div>
    {# Card Content#}
    <div class="content">
        <div class="header color-primary fw-300 text-center">{{ profile.user }}</div>
        {# Profile Designation#}
        <div class="header fw-300 color-g125 fs-1 text-center profile-designation ff-rs">{{ profile.u_prof_title }}
        </div>
        {# Card Meta#}
        <div class="white-space space-xm"></div>
        <div class="meta">
            {# Level#}
            {% comment %}<div class="meta-level"><i class="battery low icon color-primary"></i>
                Beginner
            </div>{% endcomment %}
            {# Intitute#}
            <div class="meta-category"><i class="student low icon color-primary"></i>

            </div>
            {# Location#}
            <div class="meta-location"><i class="marker low icon color-primary"></i>
                {{ profile.u_location }}

            </div>
        </div>

        {# profile Description#}
        <div class="white-space space-xm"></div>
        <div class="description ff-rr ff-si">
            <p class="color-g125">{{ profile.u_bio }}</p>
        </div>
        <div class="white-space space-xm"></div>

        {# Skill Tags#}
        <div class="skills-tag">
            <div class="ui label">Java</div>
            <div class="ui label">Android</div>
            <div class="ui label">Algo</div>
        </div>
        <div class="white-space space-mini"></div>

        {# Apply on Project Button#}
        <div class="view-btn text-center">
            <a href="{% url 'profile_detail' profile_id=profile.pk %}" class="color-primary ui basic button fw-300 border-gradient">View</a>
        </div>
        <div class="white-space space-xm"></div>
    </div>
</div>
    {% endif %}
{%  endfor %}

<div class="pagination">
            <span class="step-links">
                {% if profile_list.has_previous %}
                    <a href="{% url 'explore_profiles' %}?page={{ profile_list.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ profile_list.number }} of {{ profile_list.paginator.num_pages }}.
                </span>

                {% if profile_list.has_next %}
                    <a href="{% url 'explore_profiles' %}?page={{ profile_list.next_page_number }}">next</a>
                {% endif %}
            </span>
</div>

{% endblock explore-card %}