{%extends "base.html" %}

{% block content %}

<div class="profile_update ui container">
    <div class="profile_form">
        <h2 class="title">Edit Project Details</h2>
        <form class="ui form" method="POST" action="{% url 'project_edit' project_id=project.pk %}">
            {% csrf_token %}

            <div class="field">
                <label>{{e_form.p_title.label}}</label>
               {{e_form.p_title}}
            </div>

            <div class="field">
                <label>{{e_form.p_category.label}}</label>
               {{e_form.p_category}}
            </div>
            <div class="field">
                 <label>{{e_form.diff_level.label}}</label>
                <div class="three fields">
                    {% for choices in e_form.diff_level%}
                    <div class="field">
                        <div class="ui radio">
                            {{choices}}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="field">
                <label>{{e_form.no_of_contrib.label}}</label>
               {{e_form.no_of_contrib}}
            </div>

            <div class="field">
                <label>{{e_form.p_status.label}}</label>
               {{e_form.p_status}}
            </div>

            <div class="field">
                <label>{{e_form.p_privacy.label}}</label>
               {{e_form.p_privacy}} Privacy
            </div>

            <div class="field">
                <label>{{e_form.p_description.label}}</label>
               {{e_form.p_description}}
            </div>

            <div class="field">
                <label>{{e_form.no_of_contrib.label}}</label>
               {{e_form.skills}}
            </div>


            <button type="submit" class="ui primary button" value="Submit">Submit</button>
            <button type="reset" class="ui negative button" value="Reset">Reset</button>
        </form>
    </div>
</div>
{% endblock content %}