{% extends "explore_base.html" %}

{#                        Project Card#}
{% block explore-card %}
    {% for project in project_list %}
        {% if not project.user == request.user %}
    <div class="ui card project-card">
        {#                            Card Content#}
        <div class="content">
            <div class="header color-primary fw-300">{{ project.p_title }}</div>
            {#                                Card Meta#}
            <div class="meta">
                {#                                    Date#}
                <div class="meta-date float-left"><i class="wait low icon color-primary"></i>
                    {{ project.p_category }}
                </div>
                {#                                    Level#}
                <div class="meta-level"><i class="battery low icon color-primary"></i>
                    {{ project.diff_level }}
                </div>
                {#                                    Category#}
                <div class="meta-category"><i class="folder low icon color-primary"></i>
                    {{ project.post_date }}

                </div>
                {#                                    Location#}
                <div class="meta-location"><i class="marker low icon color-primary"></i>
                    {{ project.p_location }}

                </div>
            </div>

            {#                                Project Description#}
            <div class="description">
                <p>{{ project.p_description }}</p>
            </div>
            <div class="white-space space-xm"></div>

            {#                                Skill Tags#}
            <div class="skills-tag">
                {% for object in project.projectskills_set.all %}
                <div class="ui label">{{ object.skills }}</div>
                    {% endfor %}

            </div>
            <div class="white-space space-mini"></div>

            {#                                Apply on Project Button#}
            <div class="view-btn text-center">
                <a href="{% url 'project_detail' project_id=project.pk %}" class="ui inverted green button fw-300">Apply</a>
            </div>
        </div>
    </div>

        {% endif %}
    {% endfor %}
    <div class="pagination">
            <span class="step-links">
                {% if project_list.has_previous %}
                    <a href="{% url 'explore_projects' %}?page={{ project_list.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ project_list.number }} of {{ project_list.paginator.num_pages }}.
                </span>

                {% if project_list.has_next %}
                    <a href="{% url 'explore_projects' %}?page={{ project_list.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
{% endblock explore-card %}