{% extends "explore_base.html" %}

{#                        Project Card#}
{% block explore-card %}
    <div class="ui card project-card">
        {#                            Card Content#}
        <div class="content">
            <div class="header color-primary fw-300">Mobile Application Develoment</div>
            {#                                Card Meta#}
            <div class="meta">
                {#                                    Date#}
                <div class="meta-date float-left"><i class="wait low icon color-primary"></i>
                    2 days ago
                </div>
                {#                                    Level#}
                <div class="meta-level"><i class="battery low icon color-primary"></i>
                    Beginner
                </div>
                {#                                    Category#}
                <div class="meta-category"><i class="folder low icon color-primary"></i>
                    Android Development

                </div>
                {#                                    Location#}
                <div class="meta-location"><i class="marker low icon color-primary"></i>
                    Ahmedabad, Gujarat

                </div>
            </div>

            {#                                Project Description#}
            <div class="description">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias quos, sint!
                    Accusantium architecto aspernatur culpa enim esse est eveniet fugiat harum
                    magni</p>
            </div>
            <div class="white-space space-xm"></div>

            {#                                Skill Tags#}
            <div class="skills-tag">
                <div class="ui label">Java</div>
                <div class="ui label">Android</div>
                <div class="ui label">Algo</div>
            </div>
            <div class="white-space space-mini"></div>

            {#                                Apply on Project Button#}
            <div class="view-btn text-center">
                <button class="ui inverted green button fw-300">Apply</button>
            </div>
        </div>
    </div>
{% endblock explore-card %}