<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Your Password</title>

</head>
<body>
{% if messages %}
    {% for message in messages %}
        {{ message}}
    {% endfor %}

{% endif %}
<h1>Enter your email to reset your password</h1>
<form method="post" action="{% url 'reset_password' %} }">
    {% csrf_token %}
            E-mail:<input type="text" name="email" value="" size="30"/>
    <button type="submit" class="save btn btn-default">Submit</button>
</form>


</body>
</html>