{%extends "base.html" %}

{% block content %}
    <div class="ui middle aligned center aligned grid h-vh login login--cust">
        <div class="column login__card">
            <h2 class="ui teal image header"></h2>
            <div class="login__card-header-circle">
                <div class="ui login__card-header">
                    <i class="user icon"></i>
                </div>
            </div>
            {% if messages %}
                {%for message in messages %}
                    {{message}}
                {% endfor%}
            {% endif%}
            <form method="post" class="ui large form {% if form.errors or next %}error{% endif %}"
                  action="{% url 'reset_password' %} }">
                {% csrf_token %}
                <div class="ui form">
                    <div class="ui error message">
                        {{errors}}
                    </div>
                    <h2>Enter Your Email Address</h2>
                    <div class="field">
                        <div class="ui huge left input">
                            <input class="border-gradient" type="email" name="email" value="" size="30" placeholder="Email Address"/>
                        </div>
                    </div>
                    <input class="ui fluid huge green submit button fw-100" type="submit" value="Submit"/>
                    <div class="login-extras">
                        <a href="{% url 'login' %}" class="register color-orange">Back to Login</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock content %}
