{#    Sidebar#}
<div class="ui visible left vertical sidebar sidebar--cust menu">
            <div class="white-space space-xm"></div>


            {#            Sidebar Search#}
{#            <div class="sidebar__search">#}
{#                <h3 class="ui header"><i class="search icon"></i>#}
{#                    Keyword Search</h3>#}
{#                <div class="ui search">#}
{#                    <div class="ui icon input">#}
{#                        <input class="prompt" type="text" placeholder="Search Keyword...">#}
{#                        <i class="search icon"></i>#}
{#                    </div>#}
{#                    <div class="results"></div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="white-space space-mini"></div>#}
{#            <div class="sidebar__or text-center color-g125"><span>OR</span></div>#}
{#            <div class="white-space space-mini"></div>#}
            {#             Sidebar Filter#}
            <form method="GET" action="{% url 'filter_search' %}"  class="sidebar__filter">

               {% comment %} <select class="ui dropdown" name="order_by">
                    <option value="" selected>Order by</option>
                    <option value="inc">Newest First</option>
                    <option value="desc">Oldest First</option>
                </select>{% endcomment %}
                {#                Filter Header#}
                {% csrf_token %}
                <h3 class="ui header"><i class="filter icon"></i>
                    Filter</h3>
{#                <div class="white-space space-xm"></div>#}

                {#                Filter:level#}
                <div class="sidebar__filter__level">
                    <h4 class="title-deco title-deco--sm"><span>Level</span></h4>
                    <div class="filter__level__checkbox">
                        <div class="ui form">
                            <div class="grouped fields">
                                <div class="field">
                                    <div class="ui toggle checkbox">
                                        <input type="checkbox" name="level" value="B">
                                        <label>Beginner</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui toggle checkbox">
                                        <input type="checkbox" name="level" value="I">
                                        <label>Intermediate</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui toggle checkbox">
                                        <input type="checkbox" name="level" value="A">
                                        <label>Advance</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="white-space space-mini"></div>

                {#                Filter:Location#}
{#                <div class="sidebar__filter__location">#}
{#                    <h4 class="title-deco title-deco--sm"><span>Location</span></h4>#}
{#                    <div class="ui search">#}
{#                        <div class="ui icon input">#}
{#                            <input class="prompt" type="text" placeholder="Filter by Location...">#}
{#                            <i class="search icon"></i>#}
{#                        </div>#}
{#                        <div class="results"></div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="white-space space-sm"></div>#}

                {#                Filter Category#}
                <div class="sidebar__filter__categories">
                    <h4 class="title-deco title-deco--sm"><span>Categories</span></h4>
                    <div class="filter__level__checkbox">
                        <div class="ui form color-g125">
                            <div class="grouped fields">
                                <div class="ui checkbox">
                                    <input type="checkbox" name="category" value="android-development" >
                                    <label>Android Development</label>
                                </div>
                                <div class="ui checkbox">
                                    <input type="checkbox"  name="category" value="ios-development">
                                    <label>iOS Development</label>
                                </div>
                                <div class="ui checkbox">
                                    <input type="checkbox"  name="category" value="web-development">
                                    <label>Web Development</label>
                                </div>
                                <div class="ui checkbox">
                                    <input type="checkbox"  name="category" value="frontend-development">
                                    <label>Frontend Development</label>
                                </div>
                                <div class="ui checkbox">
                                    <input type="checkbox"  name="category" value="backend-development">
                                    <label>Backend Development</label>
                                </div>
                                <div class="ui checkbox">
                                    <input type="checkbox"  name="category" value="machine-learning">
                                    <label>Machine Learning</label>
                                </div>
                                <div class="ui checkbox">
                                    <input type="checkbox"  name="category" value="artificial-intelligence">
                                    <label>Artificial Intelligence</label>
                                </div>
                                <div class="ui checkbox">
                                    <input type="checkbox"  name="category" value="fullstack-development">
                                    <label>Full Stack Development</label>
                                </div>
                                <div class="ui checkbox">
                                    <input type="checkbox"  name="category" value="game-development">
                                    <label>Game Development</label>
                                </div>
                                <div class="ui checkbox">
                                    <input type="checkbox"  name="category" value="ui-ux-development">
                                    <label>UI/UX Development</label>
                                </div>
                                <div class="ui checkbox">
                                    <input type="checkbox"  name="category" value="image-processing">
                                    <label>Image Processing</label>
                                </div>
                                <div class="ui checkbox">
                                    <input type="checkbox"  name="category" value="software-development">
                                    <label>Software Development</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="white-space space-xm"></div>
                <div class="submit-btn text-center"><input type="submit" class="ui button green"></div>
            </form>
            <div class="white-space space-xm"></div>

        </div>